{% extends "base_page.html" %}

{% block script_init_block %}
	$("li[name=access_path_analysis]").addClass("active")
{% endblock %}

{% block breadcrumb_block %}
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li class="active" ><a href="/access_path_analysis">访问路径分析</a></li>
		</ol>
	</div>
{% endblock %}

{% block main_block %}
	<div class="row">
		<nav class="navbar navbar-default" role="navigation">
			<form class="navbar-form navbar-left" role="search">
				<label for="start_date">开始时间：</label>
				<input class="Wdate" type="text" id="start_date" onclick="WdatePicker()">
				<label for="end_date">结束时间：</label>
				<input class="Wdate" type="text" id="end_date" onclick="WdatePicker()">
				<button type="submit" class="btn btn-default">查询</button>
			</form>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-9">
					<h5>进入 2014-01-01 － 2014-02-01</h5>
				</div>
				<div class="col-md-3">
					<h5><span class="label label-success">70%</span></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9">
					<h5>先前网页 2014-01-01 － 2014-02-01</h5>
				</div>
				<div class="col-md-3">
					<h5><span class="label label-success">30%</span></h5>
				</div>
			</div>


			<table class="table table-hover">
	        <thead>
	          <tr>
	            <th>上一页路径</th>
	            <th>浏览量</th>
	            <th>浏览量百分比</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th><a href="#">/aaa</a></th>
	            <td>522</td>
	            <td>25%</td>
	          </tr>
	          <tr>
	            <th><a href="#">/bbb</a></th>
	            <td>522</td>
	            <td>25%</td>
	          </tr>
	          <tr>
	            <th><a href="#">/ccc</a></th>
	            <td>522</td>
	            <td>25%</td>
	          </tr>
	          <tr>
	            <th><a href="#">/ddd</a></th>
	            <td>25</td>
	            <td>25%</td>
	          </tr>
	        </tbody>
	       </table>
		</div>
		<div class="col-md-6">

			<div class="row">
				<div class="col-md-9">
					<h5>退出 2014-01-01 － 2014-02-01</h5>
				</div>
				<div class="col-md-3">
					<h5><span class="label label-success">70%</span></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9">
					<h5>后续网页 2014-01-01 － 2014-02-01</h5>
				</div>
				<div class="col-md-3">
					<h5><span class="label label-success">30%</span></h5>
				</div>
			</div>


			<table class="table table-hover">
	        <thead>
	          <tr>
	            <th>下一页路径</th>
	            <th>浏览量</th>
	            <th>浏览量百分比</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th><a href="#">/aaa</a></th>
	            <td>522</td>
	            <td>25%</td>
	          </tr>
	          <tr>
	            <th><a href="#">/bbb</a></th>
	            <td>522</td>
	            <td>25%</td>
	          </tr>
	          <tr>
	            <th><a href="#">/ccc</a></th>
	            <td>522</td>
	            <td>25%</td>
	          </tr>
	          <tr>
	            <th><a href="#">/ddd</a></th>
	            <td>25</td>
	            <td>25%</td>
	          </tr>
	        </tbody>
	       </table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<label for="cur_path">当前路径：</label>

			<button type="button" id="cur_path" class="btn btn-default navbar-btn" readonly="readonly" disabled="disabled" >／</button>

			<label for="line_count">显示行数：</label>

			<div  id="line_count" class="btn-group">

			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    10 <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#">20</a></li>
			    <li><a href="#">50</a></li>
			    <li><a href="#">100</a></li>
			  </ul>
			</div>
		</div>
	</div>
{% endblock %}