<div class="bs-sidebar hidden-print affix" role="complementary">
	<ul class="nav bs-sidenav">
    	<li name="shop" >
    		<a href="/shop">店铺概况</a>
        </li>
        <li name="goods" >
            <a href="/goods">商品分析</a>
        </li>
        <li name="flow_analysis" >
    		<a href="/flow_analysis">流量分析</a>
        </li>
        <li name="access_path_analysis" >
    		<a href="/access_path_analysis">访问路径分析</a>
        </li>
         <li name="roi_analysis" >
            <a href="/roi_analysis">转化率分析</a>
        </li>
        <li name="keyword_flow_analysis" >
            <a href="/keyword_flow_analysis">关键字流量分析</a>
        </li>
        <li name="source_analysis" >
    		<a href="/source_analysis">来源分析</a>
        </li>
        <li name="region_analysis">
            <a href="/region_analysis">地域分析</a>
        </li>
        <li name="">
    		<a href="#">流量综合分析</a>
        </li>
        <li name=""> 
    		<a href="#">流量实时警报</a>
        </li>
        <li name="industry_monitor">
    		<a href="/industry_monitor">行业监控</a>
    	</li>
    </ul>
</div>