{% extends "base_page.html" %}

{% block script_init_block %}
	$("li[name=industry_monitor]").addClass("active")
{% endblock %}

{% block breadcrumb_block %}
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li class="active" ><a href="/industry_monitor">行业监控</a></li>
		</ol>
	</div>
{% endblock %}

{% block main_block %}
	<div class="row">
		<h2>店铺关注列表</h2>
		<nav class="navbar navbar-default" role="navigation">
			<form role="search" class="navbar-form navbar-left">
            	<div class="form-group">
              		<input type="text" placeholder="请输入店铺名..." class="form-control">
            	</div>
            	<button class="btn btn-default" type="button">关注</button>
          	</form>
		</nav>
		<table class="table table-hover">
	        <thead>
	          <tr>
	            <th>店铺名称</th>
	            <th>调价跟踪</th>
	            <th>上架跟踪</th>
	            <th>改名跟踪</th>
	            <th>关注时间</th>
	            <th>操作</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th>加多宝</th>
				<td><a href="#" data-toggle="modal" data-target="#myModal" >未读消息<span class="badge">42</span></a></td>
				<td><a href="#">未读消息<span class="badge">42</span></a></td>	            
	            <td><a href="#">未读消息<span class="badge">42</span></a></td>
	            <td>2014-12-12</td>
	            <td><a href="#">取消关注</a></td>
	          </tr>
	           <tr>
	            <th>王老吉</th>
				<td><a href="#">未读消息<span class="badge">42</span></a></td>
				<td><a href="#">未读消息<span class="badge">42</span></a></td>	            
	            <td><a href="#">未读消息<span class="badge">42</span></a></td>
	            <td>2014-12-12</td>
	            <td><a href="#">取消关注</a></td>
	          </tr>
	           <tr>
	            <th>可口可乐</th>
				<td><a href="#">未读消息<span class="badge">42</span></a></td>
				<td><a href="#">未读消息<span class="badge">42</span></a></td>	            
	            <td><a href="#">未读消息<span class="badge">42</span></a></td>
	            <td>2014-12-12</td>
	            <td><a href="#">取消关注</a></td>
	          </tr>
	        </tbody>
	     </table>
	     <!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">加多宝－调价跟踪列表</h4>
		      </div>
		      <div  class="modal-body">
		      	<nav class="navbar navbar-default" role="navigation">
		      		<form role="search" class="navbar-form navbar-left">
						<label for="start_date">开始时间：</label>
						<input class="Wdate" type="text" id="start_date" onclick="WdatePicker()">
						<label for="end_date">结束时间：</label>
						<input class="Wdate" type="text" id="end_date" onclick="WdatePicker()">
						<button type="submit" class="btn btn-default">查询</button>
					</form>
				</nav>
		        <ul class="list-group autoScroll">
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				  <li class="list-group-item">2014-12-12调整商品xxx价格，调整前价格120，调整后价格140</li>
				</ul>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	
{% endblock %}