{% extends "base_page.html" %}

{% block script_init_block %}
	$("li[name=keyword_flow_analysis]").addClass("active")
{% endblock %}

{% block breadcrumb_block %}
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li class="active" ><a href="/keyword_flow_analysis">关键字流量分析</a></li>
		</ol>
	</div>
{% endblock %}


{% block main_block %}
	<div class="row">
		<h2 class="title">关键字统计</h2>
		<nav class="navbar navbar-default" role="navigation">
			<form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
			  	<input type="text" class="form-control" placeholder="请输入商品名称...">
			  </div>
			  <button type="submit" class="btn btn-default">搜索</button>
			</form>
		</nav>

		<div class="btn-toolbar">
			<div class="btn-group">
			  <button type="button" class="btn btn-default btn-sm">昨日点击量<span class="glyphicon glyphicon-arrow-down"></span></button>
			  <button type="button" class="btn btn-default btn-sm">7天点击量<span class="glyphicon glyphicon-arrow-down"></span></button>
			  <button type="button" class="btn btn-default btn-sm">30天点击量<span class="glyphicon glyphicon-arrow-down"></span></button>
		</div>
	  	<table class="table table-hover">
	        <thead>
	          <tr>
	            <th>关键字</th>
	            <th>点击量</th>
	            <th>点击量占比</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr data-toggle="modal" data-target="#myModal">
	            <th>apple</th>
	            <td>100</td>
	            <td>20%</td>
	          </tr>
	          <tr>
	            <th>thinkpad</th>
	            <td>100</td>
	            <td>20%</td>
	          </tr>
	          <tr>
	            <th>lenovo</th>
	            <td>100</td>
	            <td>20%</td>
	          </tr>
	          <tr>
	            <th>shenzhou</th>
	            <td>100</td>
	            <td>20%</td>
	          </tr>
	          <tr>
	            <th>滴滴打车</th>
	            <td>100</td>
	            <td>20%</td>
	          </tr>
	        </tbody>
        </table>
        <div class="col-md-6 col-md-offset-4">
	     	<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
	     </div>

	      <!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">加多宝－关键字趋势</h4>
		      </div>
		      <div  class="modal-body">
		      	<ul class="nav nav-tabs">
				  <li><a href="#k_cr" data-toggle="tab">点击量</a></li>
				  <li class="navbar-right">
				  	<div class="btn-group">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown">
					    一星期 <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">一星期</a></li>
					    <li><a href="#">一个月</a></li>
					    <li><a href="#">三个月</a></li>
					    <li><a href="#">半年</a></li>
					    <li><a href="#">一年</a></li>
					  </ul>
					</div>
				  </li>
				</ul>
				<div class="tab-content">
				  <div class="tab-pane active" id="k_cr">
				  	<canvas id="k_cr_chart" width="800" height="400"></canvas>
				  </div>
				</div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</div>
		
{% endblock %}