{% extends "base_page.html" %}
{% block script_init_block %}

	$("li[name=region_analysis]").addClass("active")

	var region_analysis_ctx1 = $("#region_analysis_chart1").get(0).getContext("2d");
	var region_analysis_ctx2 = $("#region_analysis_chart2").get(0).getContext("2d");
	var source_analysis_data = [
                    {
                        value: 30,
                        color:"#F38630"
                    },
                    {
                        value : 50,
                        color : "#E0E4CC"
                    },
                    {
                        value : 100,
                        color : "#69D2E7"
                    }           
    ]
    new Chart(region_analysis_ctx1).Pie(source_analysis_data,{});
    new Chart(region_analysis_ctx2).Pie(source_analysis_data,{});
{% endblock %}

{% block breadcrumb_block %}
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li class="active" ><a href="/region_analysis">地域分析</a></li>
		</ol>
	</div>
{% endblock %}


{% block main_block %}
	<div class="row">
		<nav class="navbar navbar-default" role="navigation">
			<form class="navbar-form navbar-left" role="search">
				<label for="start_date">开始时间：</label>
				<input class="Wdate" type="text" id="start_date" onclick="WdatePicker()">
				<label for="end_date">结束时间：</label>
				<input class="Wdate" type="text" id="end_date" onclick="WdatePicker()">
				<button type="submit" class="btn btn-default">查询</button>
			</form>
		</nav>
	</div>
	<div class="row">
		<h2>所有访问用户地域分析</h2>
		<div class="col-md-8">
			<canvas id="region_analysis_chart1" width="400" height="400"></canvas>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><span style="color:#F38630">■■■</span>北京30%</li>
				<li class="list-group-item"><span style="color:#E0E4CC">■■■</span>上海30%</li>
				<li class="list-group-item"><span style="color:#69D2E7">■■■</span>广州40%</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h2>所有下单用户地域分析</h2>
		<div class="col-md-8">
			<canvas id="region_analysis_chart2" width="400" height="400"></canvas>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><span style="color:#F38630">■■■</span>北京30%</li>
				<li class="list-group-item"><span style="color:#E0E4CC">■■■</span>上海30%</li>
				<li class="list-group-item"><span style="color:#69D2E7">■■■</span>广州40%</li>
			</ul>
		</div>
	</div>
{% endblock %}